@media all and (min-width: bp-m-min) and (max-width: bp-m-max) 
    /*  BASIC GRID STYLES 
    ----------------------------------------    */
    .container 
        max-width: 64rem 
        min-width: 56rem
    .column 
        margin: 0 (hs * 1.5)
        
        
    /*  COMMON STYLES 
        ----------------------------------------    */
    /* Set common margins for block level elements and page elements */
    figure,
    .picture, 
    #page-content .post .post-header 
        margin-bottom: lh-m 
    #page-header,
    #page-footer,
    #page-footer .rights,
    #site-navigation
        padding: lh-m 0 
        
        
    /*  FIGURES, IMAGES, AND PICTURES  
        ----------------------------------------    */
    figure,
    .picture 
        width: 100%
        &.l,
        &.m
            max-width:51.2rem
        img 
            width: 100%


    /*  PAGE CONTENT (#page-content)
        ----------------------------------------    */
    #page-content 
        padding-bottom: lh-m
        .pagination 
            padding-top: lh-m
        .post 
            .post-footer 
                .post-metadata,
                .post-nav, 
                .post-sharing,
                .post-tags
                    padding-bottom: lh-m
                .post-nav
                    margin: lh-s * 4 0
                    padding-top: lh-s


    /*  PAGE HEADER (#page-header)
        ----------------------------------------    */
    #page-header 
        img.logo 
            border-radius: 14rem 
            max-height: 16rem 
            max-width: 16rem 
