/*  BASIC GRID STYLES 
    ----------------------------------------    */
.container
    margin: 0 auto
    max-width: 56rem
    min-width: 32rem
    &:before, &:after
        content: " "
        display: table
    &:after
        clear: both
.column 
    margin: 0 base-s-hs 

.clearfix 
    &:before, &:after
        content: " "
        display: table
    &:after
        clear: both
.hidden 
    display: none


/*  ACCESSIBILITY STYLES
    ----------------------------------------    */
.accessibility 
    clip: rect(1px, 1px, 1px, 1px)
    height: 1px
    overflow: hidden
    position: absolute
    width: 1px


/*  FIGURES, IMAGES, AND PICTURES  
    ----------------------------------------    */
figure 
.picture 
    margin: 0 0 base-s-lh 
    img 
        &.l
        &.m
        &.s
            width: 100% 


/*  PAGE CONTENT (#page-content)
    ----------------------------------------    */
#page-content 
    margin-bottom: base-s-lh 
    .pagination 
        /*
        border-bottom: base-bd-c solid base-s-bd-n-w
        border-top: base-bd-c solid base-s-bd-n-w
        */
        margin-top: base-s-lh 
        padding: base-s-lh 0
        nav.pages 
            padding: (base-s-lh * 4) 0 0
    .post-footer 
        border-top: base-bl-c solid base-s-bd-n-w 
        section + section 
            border-top: base-bd-c solid base-s-bd-n-w   
    article + article 
        border-top: base-bl-c solid base-s-bd-n-w


/*  PAGE FOOTER (#page-footer)
    ----------------------------------------    */
#page-footer
    padding-top: base-s-lh * 1.5
    .rights 
        border-top: base-bd-c solid base-s-bd-n-w
        padding-top: base-s-lh


/*  PAGE HEADER (#page-header)
    ----------------------------------------    */
#page-header
    padding-bottom: base-s-lh * 1.5 
    padding-top: base-s-lh
    img 
        border: base-bg-c solid base-s-bd-t-w * 2
        border-radius: 14rem
        display: block
        margin: 0 auto base-s-lh
        max-height: 16rem
        max-width: 16rem
    img + h1 
        padding-top: 0



/*  SITE NAVIGATION (#site-navigation) 
    ----------------------------------------    */
#site-navigation 
    border-top: base-bd-c solid base-s-bd-n-w
    padding: base-s-lh 0