/*  BASIC GRID STYLES 
    ----------------------------------------    */
.container 
    margin: 0 auto 
    max-width: 56rem 
    min-width: 32rem 
    /* clearfix */
    &:before,
    &:after 
        content: ""
        display: table
    &:after 
        clear: both 
.column 
    margin: 0 hs 
.hidden 
    display: none


/*  CLEARFIX 
    ----------------------------------------    */
.clearfix 
    zoom: 1
    &:before,
    &:after 
        content: ""
        display: table 
    &:after 
        clear: both 


/*  ACCESSIBILITY STYLES
    ----------------------------------------    */
.accessibility 
    clip: rect(1px, 1px, 1px, 1px)
    height: 1px
    overflow: hidden
    position: absolute
    width: 1px


/*  COMMON STYLES 
    ----------------------------------------    */
/* Set common margins for block level elements and page elements */
figure,
.picture, 
#page-content .post .post-header 
    margin-bottom: lh-s 
#page-header,
#page-footer,
#site-navigation
    padding: lh-s 0 

/*  Set common top border for block level elements and page elements */
#page-content .index-header,
#page-content .tag-archive-header,
#page-content article.post + article.post,
#page-content .post .post-footer,
#page-content .post .post-footer section + section,
#page-content .post .post-footer .post-nav,
#page-footer .rights,
#site-navigation
    border-top: c-bd solid bd-w-n


/*  FIGURES, IMAGES, AND PICTURES  
    ----------------------------------------    */
figure, 
.picture 
    padding: 0
    width: 100%
    /* reset all images to the same width */
    &.l,
    &.m
        margin-left: 0
        margin-right: 0
        max-width:51.2rem
    &.s
        margin-left: auto
        margin-right: auto
        max-width: 34.4rem
    img 
        width: 100%      


/*  PAGE CONTENT (#page-content)
    ----------------------------------------    */
#page-content 
    padding-bottom: lh-s
    .pagination 
        padding-top: lh-s
    .post-footer 
        .post-metadata,
        .post-nav,
        .post-sharing,
        .post-tags
            padding-bottom: lh-s
        .post-nav
            border-top: c-bd solid bd-w-n
            border-bottom: c-bd solid bd-w-n
            clear: both
            margin: lh-s * 4 0
            padding-top: lh-s
            aside + aside 
                border-top: c-bd solid bd-w-n
            .post-nav-next,
            .post-nav-prev
                clear: both 
                padding: lh-s 0

/*  PAGE HEADER (#page-header)
    ----------------------------------------    */
#page-header 
    img.logo
        border: c-bg solid bd-w-n 
        border-radius: 12rem 
        display: block
        margin: 0 auto
        max-height: 14rem
        max-width: 14rem 
