@media all and (min-width: bp-medium-min) and (max-width: bp-medium-max)
    /*  BASIC GRID STYLES 
    ----------------------------------------    */
    .container 
        max-width: 64rem
        min-width: 56rem
    .column
        margin: 0 (base-m-hs * 1.5)

    /*  FIGURES, IMAGES, AND PICTURES 
    ----------------------------------------    */
    figure 
    .picture
        margin-bottom: base-m-lh


    /*  PAGE CONTENT (#page-content)
        ----------------------------------------    */
    #page-content 
        margin-bottom: base-m-lh


    /*  PAGE FOOTER (#page-footer)
        ----------------------------------------    */
    #page-footer
        padding-top: base-m-lh * 2  
        .rights 
            padding-top: base-m-lh


    /*  PAGE HEADER (#page-header)
    ----------------------------------------    */
    #page-header 
        padding-bottom: base-m-lh * 2
        padding-top: base-m-lh
        img 
            margin-bottom: base-m-lh


    /*  SITE NAVIGATION (#site-navigation) 
        ----------------------------------------    */
    #site-navigation 
        padding: base-m-lh 0