@media all and (min-width: bp-l-min)
    /*  BASIC GRID STYLES 
    ----------------------------------------    */
    .container 
        max-width: 80rem 
        min-width: 64rem
    .column 
        margin: 0 (hs * 2)


    /*  COMMON STYLES 
        ----------------------------------------    */
    /* Set common margins for block level elements and page elements */
    figure,
    .picture, 
    #page-content .post .post-header 
        margin-bottom: lh-l 
    #page-header,
    #page-footer,
    #page-footer .rights,
    #site-navigation
        padding: lh-l 0 

    /*  FIGURES, IMAGES, AND PICTURES  
        ----------------------------------------    */
    figure,
    .picture 
        width: 100%
        &.l
            margin-left: 0
            margin-right: 0
            max-width: 70.4rem
        &.m 
            margin-left: auto
            margin-right: auto          
            max-width: 51.2rem 
        &.s 
            max-width: 34.4rem 
            &.left 
                float: left 
                margin-right: hs 
            &.right 
                float: left
                margin-left: hs 
        img 
            &.l,
            &.m,
            &.s 
                width: 100%


    /*  PAGE CONTENT (#page-content)
        ----------------------------------------    */
    #page-content 
        padding-bottom: lh-l
        .pagination 
            padding-top: lh-l
        .post 
            .post-footer 
                aside + aside,
                section + section 
                    border-top-width: 0
                .post-metadata,
                .post-tags 
                    float: left
                    padding-bottom: lh-l 
                    width: 50%
                .post-nav 
                    border-bottom: c-bd solid bd-w-n
                    margin: lh-l * 4 0
                    padding: lh-l 0
                    .post-nav-next,
                    .post-nav-prev 
                        clear: none
                        padding: 0
                        width: 50%
                    .post-nav-next
                        float: right
                    .post-nav-prev
                        float: left
                .post-sharing 
                    border-top: c-bd solid bd-w-n
                    clear: both
                    margin-top: lh-l
                    width: 100%


    /*  PAGE HEADER (#page-header)
        ----------------------------------------    */
    #page-header 
        img.logo 
            border-radius: 16rem 
            max-height: 18rem 
            max-width: 18rem 
