@media all and (min-width: bp-large-min) 
    /*  BASIC GRID STYLES 
    ----------------------------------------    */
    .container 
        max-width: 72rem
        min-width: 64rem
    .column
        margin: 0 (base-l-hs * 1.5)


    /*  FIGURES, IMAGES, AND PICTURES 
    ----------------------------------------    */
    figure 
    .picture
        margin-bottom: base-l-lh
        &.l
            width: 64.8rem
        &.m 
            margin-left: auto
            margin-right: auto
            width: 51.2rem
        &.s 
            width: 34.4rem
            &.left 
                float: left
                margin-right: base-l-hs 
            &.right 
                float: right
                margin-left: base-l-hs
        img 
            &.l 
            &.m 
            &.s 
                width: 100%
                

    /*  PAGE CONTENT (#page-content)
        ----------------------------------------    */
    #page-content 
        margin-bottom: base-l-lh
        .post-footer 
            .post-metadata 
            .post-tags 
                float: left
                width: 50%
            section + section 
                border-top-width: 0


    /*  PAGE FOOTER (#page-footer)
        ----------------------------------------    */
    #page-footer
        padding-top: base-l-lh * 2  
        .rights 
            padding-top: base-l-lh


    /*  PAGE HEADER (#page-header)
    ----------------------------------------    */
    #page-header 
        padding-bottom: base-l-lh * 2
        padding-top: base-l-lh
        img 
            margin-bottom: base-l-lh


    /*  SITE NAVIGATION (#site-navigation) 
        ----------------------------------------    */
    #site-navigation 
        padding: base-l-lh 0