font-smoothing()
    -webkit-font-smoothing: antialiased

hyphenate(val)
    // valid values: none, manual, auto
    hyphens: val
    -moz-hyphens: val
    -ms-hyphens: val
    -o-hyphens: val
    -webkit-hyphens: val

optimize-legibility()
    text-rendering: optimizeLegibility

