/*  COMMON LINK STYLES FOR HEADINGS 
    ---------------------------------------- */
$hd-a
    border-bottom-width: 0
    &:link
    &:visited
        color: base-hd-c
    &:active
    &:hover 
        color: base-a-ac-c

/*  COMMON STYLES FOR HEADINGS 
    ---------------------------------------- */
hd-muted(fs, lh) 
    color: base-lt-c
    font-size: fs
    font-weight: normal
    letter-spacing: 0.2rem
    line-height: lh
    padding: lh 0
    text-transform: uppercase