/*  BODY AND HTML
    ----------------------------------------    */
html 
    font-size: 62.5%    // sets font size to 10px

body 
    background-color: c-bg
    color: c-tx
    font-family: fm-tx
    font-size: fs-s-tx
    font-style: normal
    font-weight: 400
    hyphenate(auto)
    line-height: lh-s
    text-rendering: optimizeLegibility
    word-wrap: break-word


/*  COMMON STYLES
    ----------------------------------------    */
/* Zero out margins and padding */
article,
aside,
blockquote,
div,
dl,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
ol,
p,
pre,
section,
ul
    margin: 0
    padding: 0 

/* Set common bottom margin for block level elements */
blockquote,
dl,
ol, 
p,
pre,
table,
ul,
.footnotes
    margin-bottom: lh-s

/* Set common padding and borders for blockquotes and preformatted text */
blockquote,
pre 
    border-left: c-at solid (hs * 1/6)
    padding: 0 hs

/* Remove hyphenation for certain HTML elements */
abbr,
blockquote,
code,
kbd,
pre,
q,
samp,
var
    hyphenate(none)

/* Set common styles for links in headings */
#page-header h1 a,
#page-content .post .post-footer .post-metadata h3 a,
#page-content .post .post-header h1 a,
#page-content .post .post-header h2 a 
    heading-link() 

/* Set common styles for metadata-like headings */ 
#page-content 
    .index-header h1,
    .tag-archive-header h1,
    .post .post-footer h2  
        heading-muted(fs-s-sm, lh-s) 

/* Set common bottom padding for headings in posts */ 
#page-content 
    .post  
        .post-footer h3,
        .post-header h1,
        .post-header h2 
            padding-bottom: 0


/*  BLOCKQUOTES AND QUOTES
    ----------------------------------------    */
blockquote
    color: c-mt 
    font-style: italic 
    cite,
    em,
    i 
        font-style: normal
    footer 
        text-align: right 
        cite 
            font-style: normal
            &:before 
                content: "\2014"
                padding-right: (hs * 1/3)
q:after,
q:before 
    content: none
html[lang="en"]
html[lang="en-US"]
    q:before
        content: "\201C"
    q:after 
        content: "\201D" 
    q
        > q:before
            content: "\2018"
        > q:after
            content: "\2019"


/*  CAPTIONS 
    ----------------------------------------    */
caption, 
figcaption, 
.caption 
    color: c-mt 
    font-size: fs-s-sm 
    text-align: left
    span 
        text-transform: uppercase


/*  CODE AND PREFORMATTED TEXT 
    ----------------------------------------    */
code 
    font-family: fm-ms
    font-size: fs-s-sm
pre 
    border-bottom: c-bd solid bd-w-n
    border-right: c-bd solid bd-w-n
    border-top: c-bd solid bd-w-n
    line-height: 1
    overflow: auto
    padding-bottom: (lh-s * 2/3)
    padding-top: (lh-s * 2/3)
    tab-size: 4
    white-space: pre
    word-spacing: normal
    word-wrap: normal       


/*  FIGURES, IMAGES, AND PICTURES  
    ----------------------------------------    */
figure
.picture 
    a 
        & > img 
            border-width: 0


/*  FOOTNOTES 
    ----------------------------------------    */
.footnotes 
    hr.w-50 
        margin: (lh-s * 2) 0 lh-s
    ol 
        font-size: fs-s-sm
        margin-bottom: 0
        li 
            dl.in-line 
                display: inline
            a 
                border-bottom-width: 0


/*  HEADINGS
    ----------------------------------------    */
h1,
h2,
h3,
h4,
h5,
h6 
    color: c-hd 
    font-family: fm-hd
    font-style: normal
    font-weight: 700
h1 
    heading(fs-s-h1, lh-s-h1, lh-s, lh-s)
h2 
    heading(fs-s-h2, lh-s-h2, lh-s, lh-s)
h3 
    heading(fs-s-h3, lh-s, lh-s, lh-s)
h4 
    heading(fs-s-h4, lh-s)
h5,
h6 
    heading(fs-s-tx, lh-s)

/* Adjust top padding for consecutive headings -- h1 - h4 */
h1 + h2,
h2 + h3, 
h3 + h4 
    padding-top: 0


/*  HORIZONTAL RULES 
    ----------------------------------------    */
hr 
    border: 0
    border-top: c-bd solid bd-w-n
    margin: lh-s 0
    &.w-50,
    &.w-75
        margin: lh-s auto 
    &.w-50 
        width: 50%
    &.w-75 
        width: 75%


/*  INLINE STYLES
    ----------------------------------------    */
abbr 
    letter-spacing: 0.1rem
    text-transform: uppercase
    &[title] 
        border-bottom: c-bd dotted bd-w-n
cite 
    font-style: italic
del 
    color: c-mt
    text-decoration: line-through
ins 
    color: c-hd 
    text-decoration: underline
small 
    font-size: fs-s-sm
sub,
sup 
    font-size: fs-s-tn
    position: relative
    vertical-align: baseline
sub
    top: 0.8ex
sup
    bottom: 1.0ex 


/*  LINKS
    ----------------------------------------    */
a 
    border-bottom: solid bd-w-n
    text-decoration: none
    &:link,
    &:visited 
        border-bottom-color: c-a-ln 
        color: c-a-ln
    &:active,
    &:hover 
        border-bottom-color: c-a-hv 
        color: c-a-hv


/*  LISTS
    ----------------------------------------    */
/* Common styles for lists */
ol,
ul 
    margin-left: hs 
    & > li > ol,
    & > li > ul 
        margin-left: hs 
        & > li > ol,
        & > li > ul 
            margin-left: hs 

/* Definition lists */
dl 
    dd 
        margin-left: hs 
    dt 
        font-weight: 700

/* In-line definition lists for use in footnotes. */     
dl.in-line 
    margin-bottom: 0
    dd, 
    dt 
        display: inline 
        margin: 0
    dt
        &:after 
            content: ": "
    dd + dd 
        &:before 
            content: ", " 
            margin-left: -0.4rem

/* Ordered lists */ 
ol 
    list-style: decimal 
    > li > ol 
        list-style: lower-alpha 
        > li > ol 
            list-style: lower-roman

/* Unordered lists */
ul 
    list-style: disc 
    > li > ul 
        list-style: circle 
        > li > ul 
            list-style: square 


/*  PARAGRAPHS
    ----------------------------------------    */
p 
    &.lede 
        color: c-hd 
        font-size: fs-s-h4


/*  TABLES
    ----------------------------------------    */
table 
    border: c-bd solid bd-w-n
    max-width: 100%
    width: 100%
    caption
        caption-side: bottom
        text-align: center
    tr 
        border-bottom: c-bd solid bd-w-n 
    td,
    th 
        border-right: c-bd solid bd-w-n
        hyphenate(none)
        padding: (lh-s * 1/3) (hs * 1/3) 

table.striped 
    & > tbody 
        tr:nth-child(odd)
            & > td,
            & > th 
                background: c-tr 

table.condensed 
    td,
    th 
        padding: (lh-s * 1/6) (hs * 1/6)            

.responsive-wrapper 
    overflow-x: auto
    overflow-y: hidden
    width: 100%
    table 
        th 
            white-space: nowrap


/*  MISCELLANEOUS TYPOGRAPHIC STYLES
    ----------------------------------------    */
/* text alignment */
.center
    text-align: center
.left
    text-align: left
.right
    text-align: right


/*  PAGE CONTENT (#page-content)
    ----------------------------------------    */
#page-content 
    .pagination 
        nav.pages 
            color: c-mt 
            font-size: fs-s-sm 
            text-align: center 
            a
                border-bottom-width: 0
                display: inline-block
                &.newer-posts
                    margin-left: hs 
                &.older-posts 
                    margin-right: hs 
    .post 
        .post-footer 
            .post-tags 
                ul 
                    list-style: none
                    margin: 0
                    li 
                        display: inline-block
                        line-height: fs-s-tx
                        margin-bottom: (lh-s * 1/3)
                        a 
                            border-radius: (hs * 1/6)
                            color: c-bg
                            display: block
                            padding: (hs * 1/3)
                            &:link,
                            &:visited 
                                background: c-a-ln  
                            &:active,
                            &:hover 
                                background: c-a-hv 
        .post-header 
            time 
                color: c-lt
                font-family: fm-hd
                font-size: fs-s-sm
                font-weight: 400
            &:hover
                time 
                    color: c-mt  


/*  PAGE FOOTER (#page-footer)
    ----------------------------------------    */
#page-footer 
    .rights 
        a 
            &:link
            &:visited 
                border-bottom-color: c-mt
                color: c-mt
            &:active
            &:hover
                border-bottom-color: c-a-hv
                color: c-a-hv
        p 
            color: c-mt


/*  PAGE HEADER (#page-header)
    ----------------------------------------    */
#page-header 
    h1 
        font-size: fs-s-l
        line-height: 1
        text-align: center
        text-shadow: 0.1rem 0.1rem 0 c-bd
        text-transform: uppercase 


/*  SITE NAVIGATION (#site-navigation)
    ----------------------------------------    */
#site-navigation 
    ul 
        list-style: none 
        margin: 0
        text-align: center 
        li 
            display: inline-block 
            margin: 0 (hs * 1/2)
            a 
                border-bottom-width: 0

