@media all and (min-width: bp-m-min) and (max-width: bp-m-max) 
    /*  BODY
        ----------------------------------------    */   
    body 
        font-size: fs-m-tx
        line-height: lh-m 


    /*  COMMON STYLES 
        ----------------------------------------    */
    /* Set common bottom margin for block level elements */
    blockquote,
    dl,
    ol, 
    p,
    pre,
    table,
    ul,
    .footnotes
        margin-bottom: lh-m

    /* Set common padding and borders for blockquotes and preformatted text */
    blockquote,
    pre 
        border-left: c-at solid (hs * 1/4)

    /* Set common styles for metadata-like headings */ 
    #page-content 
        .index-header h1,
        .tag-archive-header h1,
        .post .post-footer h2  
            heading-muted(fs-m-sm, lh-m) 


    /*  CAPTIONS 
        ----------------------------------------    */  
    caption, 
    figcaption,
    .caption 
        font-size: fs-m-sm 


    /*  CODE AND PREFORMATTED TEXT 
        ----------------------------------------    */
    code 
        font-size: fs-m-sm 
    pre 
        padding-bottom: (lh-m - 0.9rem)
        padding-top: (lh-m - 0.9rem)


    /*  FOOTNOTES 
        ----------------------------------------    */
    .footnotes
        hr.w-50 
            margin: (lh-m * 2) 0 lh-m 
        ol 
            font-size: fs-m-sm 


    /*  HEADINGS
        ----------------------------------------    */
    h1 
        heading(fs-m-h1, lh-m-h1, lh-m, lh-m)
    h2 
        heading(fs-m-h2, lh-m-h2, lh-m, lh-m)
    h3 
        heading(fs-m-h3, lh-m, lh-m, lh-m)
    h4 
        heading(fs-m-h4, lh-m)
    h5,
    h6 
        heading(fs-m-tx, lh-m)


    /*  HORIZONTAL RULES 
        ----------------------------------------    */
    hr 
        margin: lh-m 0
        &.w-50,
        &.w-75
            margin: lh-m auto


    /*  INLINE STYLES
        ----------------------------------------    */
    small 
        font-size: fs-m-sm 
    sub,
    sup 
        font-size: fs-m-tn 


    /*  PARAGRAPHS
        ----------------------------------------    */
    p 
        &.lede 
            font-size: fs-m-h4 


    /*  TABLES
        ----------------------------------------    */
    table 
        td,
        th 
            padding: (lh-m * 2/5) (hs * 1/2)            
    table.condensed 
        td,
        th 
            padding: (lh-m * 1/5) (hs * 1/4)


    /*  PAGE CONTENT (#page-content)
        ----------------------------------------    */
    #page-content 
        .pagination 
            nav.pages 
                font-size: fs-m-sm 
                a 
                    &.newer-posts 
                        margin-left: (hs * 1.5)
                    &.older-posts 
                        margin-right: (hs * 1.5) 
        .post 
            .post-footer 
                .post-nav
                    .post-nav-next,
                    .post-nav-prev 
                        h2 
                            font-size: fs-m-h3
                            line-height: lh-m
                        p.metadata
                            font-size: fs-m-tx
                .post-tags 
                    ul 
                        li 
                            line-height: fs-m-tx
                            margin-bottom: (lh-m * 2/5)
                            a 
                                padding: (hs * 1/2)
            .post-header 
                time 
                    font-size: fs-m-sm 


    /*  PAGE HEADER (#page-header)
        ----------------------------------------    */
    #page-header 
        h1 
            font-size: fs-m-l


    /*  SITE NAVIGATION (#site-navigation)
        ----------------------------------------    */
    #site-navigation 
        ul 
            li 
                margin: 0 hs
