/*  BORDER WIDTHS 
    ----------------------------------------    */
base-s-bd-n-w = 0.1rem
base-s-bd-t-w = 0.4rem 


/*  COLORS
    ----------------------------------------    */
base-bd-c = rgb(221,221,221)
base-bg-c = rgb(255,255,255)
base-bl-c = rgb(240,240,240)
base-hd-c = rgb(34,34,34)
base-lt-c = rgb(153,153,153)
base-mt-c = rgb(102,102,102)
base-tr-c = rgb(249,249,249)
base-tx-c = rgb(68,68,68)
/* link colors */
base-a-ln-c = rgb(152,30,50)
base-a-ac-c = rgb(216,43,71)
/* accent colors */
base-at-c = rgb(0,72,195)


/*  FONT FAMILIES
    ----------------------------------------    */
base-tx-fm = "Mercury SSm A", "Mercury SSm B", Georgia, serif
base-hd-fm = "Gotham A", "Gotham B", Helvetica, sans-serif
base-ms-fm = Consolas, monospace


/*  FONT SIZES 
    ----------------------------------------    */
/* font sizes for small devices */
base-s-tx-fs = 1.4rem
base-s-sm-fs = 1.2rem
base-s-tn-fs = 1.0rem

base-s-h1-fs = 3.6rem
base-s-h2-fs = 2.4rem
base-s-h3-fs = 1.8rem
base-s-h4-fs = 1.6rem
base-s-h5-fs = base-s-tx-fs 
base-s-h6-fs = base-s-tx-fs 

/* font sizes for medium devices */
base-m-tx-fs = 1.6rem
base-m-sm-fs = 1.4rem
base-m-tn-fs = 1.2rem

base-m-h1-fs = 4.2rem
base-m-h2-fs = 3.6rem
base-m-h3-fs = 2.1rem
base-m-h4-fs = 1.8rem
base-m-h5-fs = base-m-tx-fs
base-m-h6-fs = base-m-tx-fs

/* font sizes for large devices */
base-l-tx-fs = 1.8rem
base-l-sm-fs = 1.6rem
base-l-tn-fs = 1.4rem

base-l-h1-fs = 4.8rem
base-l-h2-fs = 4.2rem
base-l-h3-fs = 3.6rem
base-l-h4-fs = 2.1rem
base-l-h5-fs = base-m-tx-fs 
base-l-h6-fs = base-m-tx-fs 


/*  LINE HEIGHTS AND HORIZONTAL SPACING
    ----------------------------------------    */
base-s-hs = 2.4rem
base-s-lh = 2.1rem

base-m-hs = 2.4rem
base-m-lh = 2.5rem

base-l-hs = 2.4rem 
base-l-lh = 2.8rem

/* headings line-heights and margins/paddings for small devices */
base-s-h1-lh = base-s-lh * 2
base-s-h1-pd = base-s-lh

base-s-h2-lh = base-s-lh * 1.5
base-s-h2-pd = base-s-lh

base-s-h3-lh = base-s-lh 
base-s-h3-pd = base-s-lh

base-s-h4-lh = base-s-lh
base-s-h4-pd = base-s-lh

base-s-h5-lh = base-s-lh 
base-s-h5-pd = base-s-lh

base-s-h6-lh = base-s-lh
base-s-h6-pd = base-s-lh 

/* headings line-heights and margins/paddings for medium devices */
base-m-h1-lh = base-m-lh * 2
base-m-h1-pd = base-m-lh

base-m-h2-lh = base-m-lh * 1.2
base-m-h2-pd = base-m-lh

base-m-h3-lh = base-m-lh
base-m-h3-pd = base-m-lh

base-m-h4-lh = base-m-lh
base-m-h4-pd = base-m-lh

base-m-h5-lh = base-m-lh
base-m-h5-pd = base-m-lh

base-m-h6-lh = base-m-lh
base-m-h6-pd = base-m-lh

/* headings line-heights and margins/paddings for large devices */
base-l-h1-lh = base-l-lh * 2 
base-l-h1-pd = base-l-lh

base-l-h2-lh = base-l-lh * 1.5
base-l-h2-pd = base-l-lh

base-l-h3-lh = base-l-lh * 1.5
base-l-h3-pd = base-l-lh

base-l-h4-lh = base-l-lh
base-l-h4-pd = base-l-lh

base-l-h5-lh = base-l-lh
base-l-h5-pd = base-l-lh

base-l-h6-lh = base-l-lh
base-l-h6-pd = base-l-lh


/*  MEDIA QUERY BREAKPOINTS 
    ----------------------------------------    */
/* Media queries are set in ems (1em = 16px) */
bp-medium-max = 56.2500em  
bp-medium-min = 37.5625em

bp-large-min = 56.3125em 