/*  BORDER WIDTHS 
    ----------------------------------------    */
bd-w-n = 0.1rem


/*	COLORS 
    ----------------------------------------    */
c-at = rgb(0,72,195)							/* accent color - #0048c3 */ 					
c-bd = rgb(221,221,221)							/* border color - #dddddd */
c-bg = rgb(255,255,255)							/* background color - #ffffff */				
c-hd = rgb(34,34,34)							/* heading color - #222222 */					
c-lt = rgb(153,153,153)							/* extra light body copy color - #999999 */		
c-mt = rgb(102,102,102)							/* light body copy color - #666666 */			
c-tr = rgb(249,249,249)							/* table row striping color - #f9f9f9 */		
c-tx = rgb(68,68,68)							/* body copy color - #444444 */
c-a-ln = rgb(152,30,50)							/* link color - #981e32 */						
c-a-hv = rgb(216,43,71)  						/* hover color - #d82b47 */ 


/*  FONT FAMILIES
    ----------------------------------------    */
fm-tx = "Mercury SSm A", "Mercury SSm B", Georgia, serif
fm-hd = "Gotham A", "Gotham B", Helvetica, sans-serif
fm-ms = Consolas, "Lucida Console", Monaco, monospace


/*	FONT SIZES 
    ----------------------------------------    */
/* 	Body copy for small devices  */
fs-s-tx = 1.4rem 
fs-s-sm = 1.2rem 
fs-s-tn = 1.0rem 

fs-s-l = 3.6rem
fs-s-h1 = 3.2rem 
fs-s-h2 = 2.4rem 
fs-s-h3 = 1.8rem 
fs-s-h4 = 1.6rem 

/*	Body copy for medium devices  */
fs-m-tx = 1.6rem 
fs-m-sm = 1.4rem 
fs-m-tn = 1.2rem 

fs-m-l = 4.2rem
fs-m-h1 = 3.6rem
fs-m-h2 = 2.8rem
fs-m-h3 = 2.1rem
fs-m-h4 = 1.8rem

/*	Body copy for large device  */
fs-l-tx = 1.8rem 
fs-l-sm = 1.6rem
fs-l-tn = 1.4rem 

fs-l-l = 4.8rem
fs-l-h1 = 4.2rem
fs-l-h2 = 3.2rem
fs-l-h3 = 2.4rem
fs-l-h4 = 2.1rem


/*  LINE HEIGHTS AND HORIZONTAL SPACING
    ----------------------------------------    */
hs = 2.4rem 

lh-s = 2.1rem 
lh-m = 2.5rem 
lh-l = 2.8rem 

/* line-heights and line spacing for headings on small devices */
lh-s-h1 = lh-s * 2.0000 							/* 21px * 2.0000 = 42px */
lh-s-h2 = lh-s * 1.6667								/* 21px * 1.6667 = 35px */

/* line-heights and line spacing for headings on medium devices */ 
lh-m-h1 = lh-m * 1.8000								/* 25px * 1.8000 = 45px */
lh-m-h2 = lh-m * 1.4000								/* 25px * 1.4000 = 35px */

/* line-heights and line spacing for headings on large devices */
lh-l-h1 = lh-l * 2.0000								/* 28px * 2.0000 = 56px */
lh-l-h2 = lh-l * 1.5000								/* 28px * 1.5000 = 42px */


/*  MEDIA QUERY BREAKPOINTS 
    ----------------------------------------    */
bp-m-max = 56.2500em 
bp-m-min = 37.5625em

bp-l-min = 56.3125em 